<div id="<%= dom_id job %>">
  <p>
    <strong>Departamento:</strong>
    <%= job.departamento %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= job.cargo %>
  </p>

  <p>
    <strong>Requerimientos:</strong>
    <%= job.requerimientos %>
  </p>

  <p>
    <strong>Sueldo:</strong>
    <%= job.sueldo %>
  </p>

</div>
