<p style="color: green"><%= notice %></p>

<%= render @job %>
<%= render 'postulations/apply'%>
  <%= link_to "Back to jobs", jobs_path %>

  <%if current_user.admin?%>

<div>
  <%= link_to "Edit this job", edit_job_path(@job) %> |

  <%= button_to "Destroy this job", @job, method: :delete %>
</div>

<%end%>