

        <%if user_signed_in?%>
         <%= button_to "Cerrar Sesión", destroy_user_session_path,  method: :delete %>
         <%= link_to "Mis postulaciones", my_postulations_path, class:"dropdown-item" %>
         
          <%if current_user.admin?%>
 <%= form_with(model: @users) do |f| %>
    <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
   <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age, autofocus: true, autocomplete: "age" %>
  </div>
   <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autofocus: true, autocomplete: "gender" %>
  </div>
    <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position, autofocus: true, autocomplete: "position" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "password confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Crear Usuario" %>
  </div>
    <% end %><br />
<% end %>

<%if current_user.admin?%>
<div>
<h3>Employees postulations</h3>
<%Postulation.all.each do |p| %>
<p>
<%=p.user.name%> postuló hace <%=time_ago_in_words(p.created_at)%> al puesto  <%=p.job.cargo%>
</p>

<%end%>
</div>
<%end%>
<%end%>


       

